<%- include("partials/header") -%>

<div class="ui main text container segment">
    <div class="ui huge header">Login</div>
    <form class="ui form" action="/login" method="POST">
        <div class="field">
            <label>Email</label>
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password" pattern=".{4,10}" required title="password must be between 5 to 10 character">
        </div>
        <button class="ui violet basic button">Login</button>
    </form>
</div>

<%- include("partials/footer") -%>

